In [1]:
import datetime

In [8]:
dt = datetime.datetime.now()
print dt

2016-12-17 20:22:16.395000

In [3]:
print type(dt)

<type 'datetime.datetime'>

In [9]:
print dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.microsecond, dt.tzinfo

2016 12 17 20 22 16 395000 None

In [10]:
print dt.weekday()

5

In [13]:
dt1 = datetime.datetime.strptime("20151224 11:32", "%Y%m%d %H:%M")
print dt1

2015-12-24 11:32:00

In [14]:
print dt1.strftime("%d/%m/%Y")

24/12/2015

In [19]:
print dt1.strftime("%a %d. %m %Y")

Thu 24. 12 2015

In [23]:
print dt1.strftime("%Y년 %m월 %d일 %H시 %M분 %S초")

2015년 12월 24일 11시 32분 00초

In [25]:
print dt1.strftime(u"%Y년 %m월 %d일 %H시 %M분 %S초".encode("utf-8"))

2015년 12월 24일 11시 32분 00초

In [26]:
dt = datetime.datetime.now()

In [27]:
print dt

2016-12-17 20:32:27.407000

In [28]:
print dt.date()

2016-12-17

In [29]:
print dt.time()

20:32:27.407000

In [30]:
d = datetime.date(2015, 12, 12)
print d

2015-12-12

In [31]:
print type(d)

<type 'datetime.date'>

In [33]:
t = datetime.time(11, 11, 11)
print t

11:11:11

In [34]:
print datetime.datetime.combine(d, t)

2015-12-12 11:11:11

In [43]:
dt1 = datetime.datetime(2016, 1, 3, 14)
dt2 = datetime.datetime(2016, 1, 2, 13)
print dt1

2016-01-03 14:00:00

In [44]:
td = dt1 - dt2
print td

1 day, 1:00:00

In [45]:
print -td

-2 days, 23:00:00

In [46]:
print td.days, td.seconds, td.microseconds

1 3600 0

In [47]:
print td.total_seconds()

90000.0

In [48]:
import time

In [49]:
print 1
time.sleep(2)
print 2

1
2

In [50]:
print time.time()

1481975358.05

In [51]:
ts = time.localtime()
print ts

time.struct_time(tm_year=2016, tm_mon=12, tm_mday=17, tm_hour=20, tm_min=49, tm_sec=26, tm_wday=5, tm_yday=352, tm_isdst=0)

In [52]:
print time.mktime(ts)

1481975366.0

In [53]:
import pytz

In [54]:
seoul = pytz.timezone("Asia/Seoul")
print seoul

Asia/Seoul

In [60]:
print type(seoul)

<class 'pytz.tzfile.Asia/Seoul'>

In [56]:
t1 = datetime.datetime.now()

In [61]:
lt1 = seoul.localize(t1)
print lt1
print type(lt1)

2016-12-17 20:51:01.838000+09:00
<type 'datetime.datetime'>

In [63]:
t2 = datetime.datetime.utcnow()
print t2

2016-12-17 11:53:42.324000

In [64]:
lt2 = pytz.utc.localize(t2)
print lt2
print type(lt2)

2016-12-17 11:53:42.324000+00:00
<type 'datetime.datetime'>

In [65]:
lt2 = t2.replace(tzinfo=pytz.utc)
print lt2
print type(lt2)

2016-12-17 11:53:42.324000+00:00
<type 'datetime.datetime'>

In [68]:
t1 = datetime.datetime.now()
lt1 = seoul.localize(t1)
print lt1

2016-12-17 20:55:28.225000+09:00

In [71]:
lt3 = lt1.astimezone(pytz.timezone("US/Eastern"))
print lt3
print type(lt3)

2016-12-17 06:55:28.225000-05:00
<type 'datetime.datetime'>

In [72]:
from dateutil.parser import parse

In [73]:
parse('20160707')

datetime.datetime(2016, 7, 7, 0, 0)

In [77]:
parse('april 30 16:30')

datetime.datetime(2016, 4, 30, 16, 30)