In [1]:
import pandas as pd

In [2]:
s = pd.Series([4, 1, 2, -2])
print s, type(s)

0    4
1    1
2    2
3   -2
dtype: int64 <class 'pandas.core.series.Series'>

In [3]:
print s.values

[ 4  1  2 -2]

In [4]:
print type(s.values)

<type 'numpy.ndarray'>

In [5]:
print s.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
print s * 2

0    8
1    2
2    4
3   -4
dtype: int64

In [7]:
import numpy as np

In [8]:
print np.exp(s)

0    54.598150
1     2.718282
2     7.389056
3     0.135335
dtype: float64

In [9]:
print type(np.exp(s))

<class 'pandas.core.series.Series'>

In [11]:
s2 = pd.Series([4, 7, -3, 2], index = ['a','b','c','d'])
print s2

a    4
b    7
c   -3
d    2
dtype: int64

In [12]:
print s2['a']

4

In [13]:
print s2['a':'c']

a    4
b    7
c   -3
dtype: int64

In [15]:
print s2[['b','a']]

b    7
a    4
dtype: int64

In [16]:
print s2[1]

7

In [18]:
print s2[1:3]

b    7
c   -3
dtype: int64

In [20]:
print s2[[2, 1]]

c   -3
b    7
dtype: int64

In [22]:
print s2[s2>2]

a    4
b    7
dtype: int64

In [23]:
"a" in s2

True

In [28]:
for k, v in s2.iteritems():
    print (k,v)

('a', 4)
('b', 7)
('c', -3)
('d', 2)

In [29]:
print s2["a":"d"]

a    4
b    7
c   -3
d    2
dtype: int64

In [30]:
print s2["d":"a"]

Series([], dtype: int64)

In [2]:
import pandas as pd

In [3]:
sdata = {'Ohio' : 35000, 'Texas' : 71000, 'Oregon' : 16000, 'Utah' : 5000}
s3 = pd.Series(sdata)
print s3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [4]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
s4 = pd.Series(sdata, index = states)
print s4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [5]:
print pd.notnull(s4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [6]:
print s4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [7]:
print s4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [8]:
print s3.values, s4.values

[35000 16000 71000  5000] [    nan  35000.  16000.  71000.]

In [9]:
print s3.values + s4.values

[    nan  51000.  87000.  76000.]

In [10]:
print s3 + s4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [11]:
s4.name = 'population'
print s4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [12]:
s4.index.name = 'state'
print s4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [15]:
s = pd.Series([4, 7, -5, 3])
print s

0    4
1    7
2   -5
3    3
dtype: int64

In [16]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
s.index = ['Bob', 'Steve', 'Jeff', "Ryan"]
print s

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [18]:
print s.index

Index([u'Bob', u'Steve', u'Jeff', u'Ryan'], dtype='object')

In [20]:
s1 = pd.Series(['a', 'b', 'c'])
print s1

0    a
1    b
2    c
dtype: object

In [21]:
s2 = pd.Series(['a', 'b', 'c'], index=['aa', 'bb', 'cc'])
print s2

aa    a
bb    b
cc    c
dtype: object

In [27]:
data = {
    'state' : ['Ohio', 'Ohio',  'Ohio', 'Nevada', 'Nevada'],
    'year' : [2000, 2001, 2002, 2001, 2002],
    'pop' : [1.5, 1.7, 3.6, 2.4, 2.9]
}

In [28]:
print type(data)

<type 'dict'>

In [29]:
df = pd.DataFrame(data)
print df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [30]:
print df.dtypes

pop      float64
state     object
year       int64
dtype: object

In [32]:
df1 = pd.DataFrame(data, columns=['year', 'state', 'pop'])
print df1

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [33]:
df2 = pd.DataFrame(data, 
                   columns = ['year', 'state', 'pop', 'debt'],
                   index = ['one', 'two', 'three', 'four', 'five'])
print df2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

In [34]:
print df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [35]:
print type(df['state'])

<class 'pandas.core.series.Series'>

In [36]:
print df.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [37]:
print df2.state

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [41]:
df2['debt'] = 16.5
print df2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5

In [42]:
import numpy as np
df2['debt'] = np.arange(5)
print df2

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4

In [43]:
df2['debt'] = range(5)
print df2

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4

In [44]:
df2['debt'] = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
print df2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

In [45]:
print df2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

In [46]:
df2['eastern'] = (df2.state == 'Ohio')
print df2

       year   state  pop  debt eastern
one    2000    Ohio  1.5   NaN    True
two    2001    Ohio  1.7  -1.2    True
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4  -1.5   False
five   2002  Nevada  2.9  -1.7   False

In [47]:
del df2['eastern']
print df2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

In [48]:
x = [1, 2, 4, 3]
print sorted(x)

[1, 2, 3, 4]

In [49]:
print x

[1, 2, 4, 3]

In [50]:
print x.sort()

None

In [51]:
print x

[1, 2, 3, 4]

In [53]:
s = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [54]:
s2 = s.drop('c')
print s2

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [55]:
print s.drop(['b', 'c'])

a    0.0
d    3.0
e    4.0
dtype: float64

In [56]:
print s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [57]:
df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                 index = ['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns = ['one', 'two', 'three', 'four'])
print df

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [58]:
df.drop(['Colorado', 'Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [59]:
print df

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [61]:
df.drop('two', axis=1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [62]:
df.drop(['two', 'three'], axis=1)

          one  four
Ohio        0     3
Colorado    4     7
Utah        8    11
New York   12    15

In [63]:
pop = {'Nevada' : {2001: 2.4, 2002: 2.9}, 'Ohio' : {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [64]:
df3 = pd.DataFrame(pop)
print df3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [67]:
pdata = {'Ohio' : df3.Ohio[:-1], 'Nevada' : df3.Nevada[1:]}
print pd.DataFrame(pdata)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   NaN

In [68]:
df2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

In [69]:
print df2['year']

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

In [70]:
print df2[['year']]

       year
one    2000
two    2001
three  2002
four   2001
five   2002

In [71]:
print type(df2['year'])
print type(df2[['year']])

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>