In [1]:
import numpy as np

In [2]:
arr1 = np.array([1, 2, 3])
print arr1

[1 2 3]

In [4]:
arr2 = np.array([[1, 2],[3, 4]])
print arr2

[[1 2]
 [3 4]]

In [5]:
arr3 = np.arange(3)
print arr3

[0 1 2]

In [8]:
arr4 = np.linspace(0, 4, 5)
print arr4

[ 0.  1.  2.  3.  4.]

In [9]:
print np.zeros((3, 3))

[[ 0.  0.  0.]
 [ 0.  0.  0.]
 [ 0.  0.  0.]]

In [10]:
print np.ones((2, 2))

[[ 1.  1.]
 [ 1.  1.]]

In [12]:
print np.random.rand(3)
print np.random.randn(3)

[ 0.49347638  0.22477978  0.64465925]
[ 1.71939547  0.86962925  0.16449106]

In [13]:
arr1 = np.array([1, 2, 3, 4])
print arr1[1:-1]

[2 3]

In [15]:
arr2 = np.array([[1, 2, 3],[4, 5, 6]])
print arr2[:, 1]

[2 5]

In [24]:
arr = np.random.randint(0, 35, 5)
print arr
arrlist = [1, 2, 3, 4, 5]
print arrlist

[ 2  0 25  2  1]
[1, 2, 3, 4, 5]

In [25]:
even_mask = (arr % 2 == 0)
print even_mask
even_mask2 = (arrlist % 2 ==0)
print even_mask2

[ True  True False  True False]

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [28]:
print arr[even_mask]
print arrlist[even_mask]

[2 0 2]

TypeError: only integer arrays with one element can be converted to an index

In [30]:
print arr[arr % 2 == 0]

[2 0 2]

In [32]:
print arrlist[arrlist % 2 == 0]

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [37]:
arr = np.arange(1, 7) * 2
print arr
arrlist2 = arrlist * 2
print arrlist2

[ 2  4  6  8 10 12]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [42]:
arr1 = np.arange(0, 30, 3) + 3
print arr1
print arrlist + 3

[ 3  6  9 12 15 18 21 24 27 30]

TypeError: can only concatenate list (not "int") to list

In [45]:
arr1= np.array([[1, 2],[3, 4]])
arr2= np.array([[11, 22],[33, 44]])
print arr1 * arr2
print np.dot(arr1, arr2)
print arr1.dot(arr2)

[[ 11  44]
 [ 99 176]]
[[ 77 110]
 [165 242]]
[[ 77 110]
 [165 242]]

In [87]:
arr = np.random.randint(1, 10, size=(4, 4))
print arr

[[4 6 8 1]
 [2 3 5 9]
 [5 4 8 6]
 [2 5 7 1]]

In [88]:
print np.all(arr < 11)
#print arr.all < 11
#print arr.all
#print arr.all()
print arr.all() < 11
print np.any(arr == 5)

True
True
True

In [60]:
arr = np.array([np.arange(0,6), np.arange(10,16)])
print arr
print arr.ravel()

[[ 0  1  2  3  4  5]
 [10 11 12 13 14 15]]
[ 0  1  2  3  4  5 10 11 12 13 14 15]

In [89]:
arr = np.arange(1, 16)
arr2 = arr.reshape(3, 5)
print arr2

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

In [96]:
print arr
print np.min(arr2)
print arr.min()
print np.std(arr)
print np.argmin(arr)
print np.argmax(arr)
print arr.argmax()
print np.sum(arr)
print np.sqrt(arr)
#print arr.sqrt()

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
1
1
4.32049379894
0
14
14
120
[ 1.          1.41421356  1.73205081  2.          2.23606798  2.44948974
  2.64575131  2.82842712  3.          3.16227766  3.31662479  3.46410162
  3.60555128  3.74165739  3.87298335]

In [116]:
import pandas as pd

In [117]:
s1 = pd.Series(20)
print s1

0    20
dtype: int64

In [123]:
s2 = pd.Series(range(1, 6))
print s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [127]:
print s2.values

[1 2 3 4 5]

In [128]:
print s2.index

RangeIndex(start=0, stop=5, step=1)

In [132]:
s3 = pd.Series(range(1,4), index = ['a', 'b', 'c'])
print s3

a    1
b    2
c    3
dtype: int64

In [135]:
print s3['a']
print s3[0]

1
1

In [138]:
s4 = pd.Series(2, index = s3.index)
print s4

a    2
b    2
c    2
dtype: int64

In [139]:
s5 = pd.Series(np.random.randn(3))
print s5

0    1.877717
1   -0.194557
2   -0.337657
dtype: float64

In [140]:
s7 = pd.Series({'a' : 1, 'b': 2})
print s7

a    1
b    2
dtype: int64

In [145]:
s = pd.Series([1, 2, 3, np.nan])
print s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [146]:
print len(s)

4

In [149]:
print s.size

4

In [150]:
print s.shape

(4L,)

In [152]:
print s.count()

3

In [154]:
print s.unique()

[  1.   2.   3.  nan]

In [155]:
print s.value_counts()

3.0    1
2.0    1
1.0    1
dtype: int64

In [157]:
s = pd.Series(np.arange(6))
s.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [158]:
s.head(n = 3)

0    0
1    1
2    2
dtype: int32

In [159]:
s.tail()

1    1
2    2
3    3
4    4
5    5
dtype: int32

In [160]:
print s.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [161]:
print s.take([0, 2, 3])

0    0
2    2
3    3
dtype: int32

In [165]:
s = pd.Series(np.arange(1,5), index = ['a', 'b', 'c' ,'d'])
print s.take([0])

a    1
dtype: int32

In [166]:
print s['a']

1

In [167]:
print s

a    1
b    2
c    3
d    4
dtype: int32

In [168]:
print s.take([0, 1])

a    1
b    2
dtype: int32

In [170]:
print s[['a', 'b']]

a    1
b    2
dtype: int32

In [171]:
print s.loc['a']

1

In [172]:
print s.iloc[0]

1

In [173]:
print s.loc[['a', 'b']]

a    1
b    2
dtype: int32

In [180]:
print s.iloc[[0, 1, 2, 3]]

a    1
b    2
c    3
d    4
dtype: int32

In [183]:
s1 = pd.Series(np.arange(1,5), index = ['a', 'b', 'c', 'd'])
s2 = pd.Series(np.arange(1, 5) * 2, index = ['d', 'c', 'b', 'a'])

s1 + s2

a    9
b    8
c    7
d    6
dtype: int32

In [184]:
print s1
print s1 ** 2

a    1
b    2
c    3
d    4
dtype: int32
a     1
b     4
c     9
d    16
dtype: int32

In [186]:
s1 = pd.Series({'b' : 2, 'c' : 3, 'd' : 4})
s2 = pd.Series({'a' : 1, 'b' : 2, 'c' : 3})
print s1 ** s2

a     NaN
b     4.0
c    27.0
d     NaN
dtype: float64

In [188]:
np.array([1, 2, np.NaN]).mean()

nan

In [192]:
s = pd.Series([1, 2, np.NaN])

print s.mean()
print s.mean(skipna = False)

1.5
nan

In [215]:
s = pd.Series(np.arange(1,10))
print s
print s > 5
print s[s > 5]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool
5    6
6    7
7    8
8    9
dtype: int32

In [216]:
print (s>5) & (s<8)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
8    False
dtype: bool

In [217]:
print (s>=3).all()

False

In [218]:
print s[(s>=3)].sum()

42

In [219]:
print (s>=3).sum()

7

In [220]:
s["a"] = 'a'

In [221]:
print s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
a    a
dtype: object

In [222]:
del s["a"]

In [223]:
print s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: object

In [224]:
s = pd.Series(np.arange(1, 10), index = np.arange(11, 20))
print s

11    1
12    2
13    3
14    4
15    5
16    6
17    7
18    8
19    9
dtype: int32

In [232]:
print s[0:5]
print s[:5]
print s[-3:]
print s[:-3]

11    1
12    2
13    3
14    4
15    5
dtype: int32
11    1
12    2
13    3
14    4
15    5
dtype: int32
17    7
18    8
19    9
dtype: int32
11    1
12    2
13    3
14    4
15    5
16    6
dtype: int32

In [236]:
print np.array([[1, 2],[3, 4]])
df = pd.DataFrame(np.array([[1, 2], [3, 4]]))
print df

[[1 2]
 [3 4]]
   0  1
0  1  2
1  3  4

In [240]:
df1 = pd.DataFrame([pd.Series(np.arange(1,5)),pd.Series(np.arange(5,9))])
print df1
print pd.DataFrame([[1, 2],[3, 4]])

   0  1  2  3
0  1  2  3  4
1  5  6  7  8
   0  1
0  1  2
1  3  4

In [244]:
print df1.shape
print df1.info()
print df1.describe()

(2, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
0    2 non-null int32
1    2 non-null int32
2    2 non-null int32
3    2 non-null int32
dtypes: int32(4)
memory usage: 104.0 bytes
None
              0         1         2         3
count  2.000000  2.000000  2.000000  2.000000
mean   3.000000  4.000000  5.000000  6.000000
std    2.828427  2.828427  2.828427  2.828427
min    1.000000  2.000000  3.000000  4.000000
25%    2.000000  3.000000  4.000000  5.000000
50%    3.000000  4.000000  5.000000  6.000000
75%    4.000000  5.000000  6.000000  7.000000
max    5.000000  6.000000  7.000000  8.000000

In [246]:
df = pd.DataFrame(np.array([[1, 2, 3],[4, 5, 6]]), columns = ['a', 'b',  'c'])
print df

   a  b  c
0  1  2  3
1  4  5  6

In [247]:
print df.columns

Index([u'a', u'b', u'c'], dtype='object')

In [248]:
print df.columns[0]

a

In [251]:
df.columns = ["c", "d", "e"]
print df

   c  d  e
0  1  2  3
1  4  5  6

In [252]:
df = pd.DataFrame(np.array([[1, 2],[3, 4]]), columns = ['a', 'b'], index = ['r1', 'r2'])
print df

    a  b
r1  1  2
r2  3  4

In [254]:
s1 = pd.Series(np.arange(1, 6, 1))
s2 = pd.Series(np.arange(11, 16, 1))
df = pd.DataFrame({'c1' : s1, 'c2' : s2})
print df

   c1  c2
0   1  11
1   2  12
2   3  13
3   4  14
4   5  15

In [262]:
sample_df = pd.read_csv("./sample/9_pandas/sample.csv", index_col = 'Symbol', usecols = [0, 1, 2, 3, 7])
print sample_df.head(n=3)

                       Name       Sector   Price  Book Value
Symbol
MMM              3M Company  Industrials  177.12       19.34
ABT     Abbott Laboratories  Health Care   41.89       14.10
ABBV                 AbbVie  Health Care   64.16        2.87

In [264]:
print sample_df['Price'].mean()
print len(sample_df)

86.0443055556
504

In [266]:
print sample_df.index
print sample_df.columns

Index([u'MMM', u'ABT', u'ABBV', u'ACN', u'ATVI', u'AYI', u'ADBE', u'AAP',
       u'AES', u'AET',
       ...
       u'XEL', u'XRX', u'XLNX', u'XL', u'XYL', u'YHOO', u'YUM', u'ZBH',
       u'ZION', u'ZTS'],
      dtype='object', name=u'Symbol', length=504)
Index([u'Name', u'Sector', u'Price', u'Book Value'], dtype='object')

In [273]:
apple_df = pd.read_csv("./sample/9_pandas/apple.csv")
print apple_df.head()
print apple_df[:2]
#print apple_df[0]
apple_df2 = pd.read_csv("./sample/9_pandas/apple.csv", header = None)
print apple_df2.head()

        Date    Open    High     Low   Close    Volume
0  30-Sep-16  112.46  113.37  111.80  113.05  36379106
1  29-Sep-16  113.16  113.80  111.80  112.18  35886990
2  28-Sep-16  113.69  114.64  113.43  113.95  29641085
3  27-Sep-16  113.00  113.18  112.34  113.09  24607412
4  26-Sep-16  111.64  113.39  111.55  112.88  29869442
        Date    Open    High    Low   Close    Volume
0  30-Sep-16  112.46  113.37  111.8  113.05  36379106
1  29-Sep-16  113.16  113.80  111.8  112.18  35886990
           0       1       2       3       4         5
0       Date    Open    High     Low   Close    Volume
1  30-Sep-16  112.46  113.37  111.80  113.05  36379106
2  29-Sep-16  113.16  113.80  111.80  112.18  35886990
3  28-Sep-16  113.69  114.64  113.43  113.95  29641085
4  27-Sep-16  113.00  113.18  112.34  113.09  24607412

In [276]:
print apple_df[[0, 1, 2]].head()

        Date    Open    High
0  30-Sep-16  112.46  113.37
1  29-Sep-16  113.16  113.80
2  28-Sep-16  113.69  114.64
3  27-Sep-16  113.00  113.18
4  26-Sep-16  111.64  113.39

In [280]:
print apple_df["Date"].head()
print apple_df[[0]].head()
print apple_df[["Date"]].head()

0    30-Sep-16
1    29-Sep-16
2    28-Sep-16
3    27-Sep-16
4    26-Sep-16
Name: Date, dtype: object
        Date
0  30-Sep-16
1  29-Sep-16
2  28-Sep-16
3  27-Sep-16
4  26-Sep-16
        Date
0  30-Sep-16
1  29-Sep-16
2  28-Sep-16
3  27-Sep-16
4  26-Sep-16

In [282]:
print apple_df.Date.head()
print type(apple_df.Date)

0    30-Sep-16
1    29-Sep-16
2    28-Sep-16
3    27-Sep-16
4    26-Sep-16
Name: Date, dtype: object
<class 'pandas.core.series.Series'>

In [284]:
sample_df = pd.read_csv("./sample/9_pandas/sample.csv", index_col = 'Symbol', usecols = [0, 1, 2, 3, 7])
print sample_df['MMM':'ABBV']

                       Name       Sector   Price  Book Value
Symbol
MMM              3M Company  Industrials  177.12       19.34
ABT     Abbott Laboratories  Health Care   41.89       14.10
ABBV                 AbbVie  Health Care   64.16        2.87

In [285]:
print sample_df.loc["MMM"]

Name           3M Company
Sector        Industrials
Price              177.12
Book Value          19.34
Name: MMM, dtype: object

In [286]:
print sample_df.loc[['MMM', 'MSFT']]

                   Name                  Sector   Price  Book Value
Symbol
MMM          3M Company             Industrials  177.12       19.34
MSFT    Microsoft Corp.  Information Technology   52.30        9.51

In [288]:
print sample_df.iloc[0]

Name           3M Company
Sector        Industrials
Price              177.12
Book Value          19.34
Name: MMM, dtype: object

In [290]:
print sample_df.iloc[[0, 1, 2]]
print type(sample_df.iloc[[0, 1, 2]])

                       Name       Sector   Price  Book Value
Symbol
MMM              3M Company  Industrials  177.12       19.34
ABT     Abbott Laboratories  Health Care   41.89       14.10
ABBV                 AbbVie  Health Care   64.16        2.87
<class 'pandas.core.frame.DataFrame'>

In [293]:
print sample_df.ix[[0, 3, 4]]
print sample_df.ix[['MMM', 'ACN', 'ATVI']]

                       Name                  Sector   Price  Book Value
Symbol
MMM              3M Company             Industrials  177.12       19.34
ACN           Accenture plc  Information Technology  115.11       11.45
ATVI    Activision Blizzard  Information Technology   41.29       11.31
                       Name                  Sector   Price  Book Value
Symbol
MMM              3M Company             Industrials  177.12       19.34
ACN           Accenture plc  Information Technology  115.11       11.45
ATVI    Activision Blizzard  Information Technology   41.29       11.31

In [294]:
print sample_df.Price > 100

Symbol
MMM       True
ABT      False
ABBV     False
ACN       True
ATVI     False
AYI       True
ADBE     False
AAP       True
AES      False
AET       True
AMG       True
AFL      False
A        False
APD       True
AKAM     False
ALK      False
ALB      False
AA       False
ALXN      True
ALLE     False
AGN       True
ADS       True
LNT      False
ALL      False
GOOGL     True
GOOG      True
MO       False
AMZN      True
AEE      False
AAL      False
         ...
V        False
VNO       True
VMC       True
WMT      False
WBA      False
WM       False
WAT       True
WFC      False
HCN      False
WDC      False
WU       False
WRK      False
WY       False
WHR       True
WFM      False
WMB      False
WLTW      True
WEC      False
WYN      False
WYNN     False
XEL      False
XRX      False
XLNX     False
XL       False
XYL      False
YHOO     False
YUM      False
ZBH       True
ZION     False
ZTS      False
Name: Price, dtype: bool

In [295]:
print sample_df[["Price"]] > 100

        Price
Symbol
MMM      True
ABT     False
ABBV    False
ACN      True
ATVI    False
AYI      True
ADBE    False
AAP      True
AES     False
AET      True
AMG      True
AFL     False
A       False
APD      True
AKAM    False
ALK     False
ALB     False
AA      False
ALXN     True
ALLE    False
AGN      True
ADS      True
LNT     False
ALL     False
GOOGL    True
GOOG     True
MO      False
AMZN     True
AEE     False
AAL     False
...       ...
V       False
VNO      True
VMC      True
WMT     False
WBA     False
WM      False
WAT      True
WFC     False
HCN     False
WDC     False
WU      False
WRK     False
WY      False
WHR      True
WFM     False
WMB     False
WLTW     True
WEC     False
WYN     False
WYNN    False
XEL     False
XRX     False
XLNX    False
XL      False
XYL     False
YHOO    False
YUM     False
ZBH      True
ZION    False
ZTS     False

[504 rows x 1 columns]

In [297]:
print sample_df[sample_df.Price > 100]["Price"].head()

Symbol
MMM    177.12
ACN    115.11
AYI    264.62
AAP    164.85
AET    117.00
Name: Price, dtype: float64

In [299]:
copy = sample_df.copy()
print copy.head(n =3)

                       Name       Sector   Price  Book Value
Symbol
MMM              3M Company  Industrials  177.12       19.34
ABT     Abbott Laboratories  Health Care   41.89       14.10
ABBV                 AbbVie  Health Care   64.16        2.87

In [301]:
copy["TwicePrice"] = copy["Price"] * 2
print copy[:5]

                       Name                  Sector   Price  Book Value  \
Symbol
MMM              3M Company             Industrials  177.12       19.34
ABT     Abbott Laboratories             Health Care   41.89       14.10
ABBV                 AbbVie             Health Care   64.16        2.87
ACN           Accenture plc  Information Technology  115.11       11.45
ATVI    Activision Blizzard  Information Technology   41.29       11.31

        TwicePrice
Symbol
MMM         354.24
ABT          83.78
ABBV        128.32
ACN         230.22
ATVI         82.58

In [309]:
copy.insert(0, 'TriplePrice4', copy['Price'] * 3)
print copy[:5]

        TriplePrice4  TriplePrice3                 Name  TriplePrice  \
Symbol
MMM           531.36        531.36           3M Company       531.36
ABT           125.67        125.67  Abbott Laboratories       125.67
ABBV          192.48        192.48               AbbVie       192.48
ACN           345.33        345.33        Accenture plc       345.33
ATVI          123.87        123.87  Activision Blizzard       123.87

        TriplePrice2                  Sector   Price  Book Value  TwicePrice
Symbol
MMM           531.36             Industrials  177.12       19.34      354.24
ABT           125.67             Health Care   41.89       14.10       83.78
ABBV          192.48             Health Care   64.16        2.87      128.32
ACN           345.33  Information Technology  115.11       11.45      230.22
ATVI          123.87  Information Technology   41.29       11.31       82.58

In [310]:
del copy['TriplePrice4']
print copy[:3]

        TriplePrice3                 Name  TriplePrice  TriplePrice2  \
Symbol
MMM           531.36           3M Company       531.36        531.36
ABT           125.67  Abbott Laboratories       125.67        125.67
ABBV          192.48               AbbVie       192.48        192.48

             Sector   Price  Book Value  TwicePrice
Symbol
MMM     Industrials  177.12       19.34      354.24
ABT     Health Care   41.89       14.10       83.78
ABBV    Health Care   64.16        2.87      128.32

In [311]:
df1 = sample_df.iloc[0:3].copy()
print df1

                       Name       Sector   Price  Book Value
Symbol
MMM              3M Company  Industrials  177.12       19.34
ABT     Abbott Laboratories  Health Care   41.89       14.10
ABBV                 AbbVie  Health Care   64.16        2.87

In [312]:
df2 = sample_df.iloc[4:6]
print df2

                       Name                  Sector   Price  Book Value
Symbol
ATVI    Activision Blizzard  Information Technology   41.29       11.31
AYI       Acuity Brands Inc             Industrials  264.62       36.50

In [313]:
coc = df2.append(df1)
print coc

                       Name                  Sector   Price  Book Value
Symbol
ATVI    Activision Blizzard  Information Technology   41.29       11.31
AYI       Acuity Brands Inc             Industrials  264.62       36.50
MMM              3M Company             Industrials  177.12       19.34
ABT     Abbott Laboratories             Health Care   41.89       14.10
ABBV                 AbbVie             Health Care   64.16        2.87

In [314]:
coc.loc["DEA"] = ['a', 'b', 1, 1]
print coc

                       Name                  Sector   Price  Book Value
Symbol
ATVI    Activision Blizzard  Information Technology   41.29       11.31
AYI       Acuity Brands Inc             Industrials  264.62       36.50
MMM              3M Company             Industrials  177.12       19.34
ABT     Abbott Laboratories             Health Care   41.89       14.10
ABBV                 AbbVie             Health Care   64.16        2.87
DEA                       a                       b    1.00        1.00

In [317]:
coc2 = coc.drop(["DEA"])
print coc2

                       Name                  Sector   Price  Book Value
Symbol
ATVI    Activision Blizzard  Information Technology   41.29       11.31
AYI       Acuity Brands Inc             Industrials  264.62       36.50
MMM              3M Company             Industrials  177.12       19.34
ABT     Abbott Laboratories             Health Care   41.89       14.10
ABBV                 AbbVie             Health Care   64.16        2.87

In [321]:
selection = sample_df.Price > 200
lessthan200 = sample_df[-selection]
print lessthan200.head()
print -selection.head()

                       Name                  Sector   Price  Book Value
Symbol
MMM              3M Company             Industrials  177.12       19.34
ABT     Abbott Laboratories             Health Care   41.89       14.10
ABBV                 AbbVie             Health Care   64.16        2.87
ACN           Accenture plc  Information Technology  115.11       11.45
ATVI    Activision Blizzard  Information Technology   41.29       11.31
Symbol
MMM     True
ABT     True
ABBV    True
ACN     True
ATVI    True
Name: Price, dtype: bool

In [347]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from sklearn import neighbors
from sklearn import linear_model

df = pd.read_csv("./sample/9_pandas/data.csv", header = 0)
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [348]:
y = df["label"]
x = df.drop(['label'], axis = 1)
print x.head()

   pixel0  pixel1  pixel2  pixel3  pixel4  pixel5  pixel6  pixel7  pixel8  \
0       0       0       0       0       0       0       0       0       0
1       0       0       0       0       0       0       0       0       0
2       0       0       0       0       0       0       0       0       0
3       0       0       0       0       0       0       0       0       0
4       0       0       0       0       0       0       0       0       0

   pixel9    ...     pixel774  pixel775  pixel776  pixel777  pixel778  \
0       0    ...            0         0         0         0         0
1       0    ...            0         0         0         0         0
2       0    ...            0         0         0         0         0
3       0    ...            0         0         0         0         0
4       0    ...            0         0         0         0         0

   pixel779  pixel780  pixel781  pixel782  pixel783
0         0         0         0         0         0
1         0         0         0         0         0
2         0         0         0         0         0
3         0         0         0         0         0
4         0         0         0         0         0

[5 rows x 784 columns]

In [349]:
y = np.array(y)
print y, len(y)

[1 0 1 ..., 7 6 9] 42000

In [350]:
x = np.array(x)
print x, len(x)

[[0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 ...,
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]] 42000

In [351]:
y_train = y[:999]
x_train = x[:999]

y_test = y[1000:1200]
x_test = x[1000:1200]

print len(y_train), len(x_train), len(y_test), len(x_test)

999 999 200 200

In [352]:
print y[0]

1

In [353]:
reshaped_example = x[0].reshape(28, 28)
plt.imshow(reshaped_example, cmap = cm.Greys_r)
plt.show()

In [354]:
classifier = neighbors.KNeighborsClassifier()

In [355]:
print 'about to fit'
classifier.fit(x_train, y_train)

about to fit

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [356]:
score = classifier.score(x_test, y_test)
print 'score: ', score

score:  0.845

In [358]:
print classifier.predict(x_test[0])
reshaped_example = x_test[0].reshape(28, 28)
plt.imshow(reshaped_example, cmap = cm.Greys_r)
plt.show()

C:\Users\alexmoon\Anaconda2\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

[1]

In [359]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from sklearn import svm

df = pd.read_csv("./sample/9_pandas/data.csv", header = 0)

y = df["label"]
x = df.drop(["label"], axis = 1)

x = np.array(x)
y = np.array(y)

x_train = x[:999]
y_train = y[:999]

x_test = x[1000:1200]
y_test = y[1000:1200]

classifier = svm.SVC(gamma = 0.001, C=100.)

classifier.fit(x_train, y_train)

print classifier.score(x_test, y_test)

0.13

In [361]:
print classifier.predict(x_test[1])
reshaped_example = x_test[1].reshape(28, 28)
plt.imshow(reshaped_example, cmap = cm.Greys_r)
plt.show()

C:\Users\alexmoon\Anaconda2\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

[2]