In [1]:
empty_list = []
empty_list = list()

In [2]:
cat = 'cat'
print list(cat)

['c', 'a', 't']

In [4]:
print tuple(cat)

('c', 'a', 't')

In [6]:
test_tuple = ('Monday', 'Tuesday', 'Wednesday')
print tuple(list(test_tuple))

('Monday', 'Tuesday', 'Wednesday')

In [10]:
my_birthday = '1987/07/07'
my_birthday.split("/")

['1987', '07', '07']

In [11]:
years=['1', '2', '3']
print years[-2]

2

In [12]:
years[0] = -1
print years

[-1, '2', '3']

In [14]:
years.append('4')

In [15]:
years

[-1, '2', '3', '4']

In [16]:
a = [1, 2, 3, 4]
b = [10, 20, 30, 40]

a.extend(b)
print a

b += a

print b

[1, 2, 3, 4, 10, 20, 30, 40]
[10, 20, 30, 40, 1, 2, 3, 4, 10, 20, 30, 40]

In [18]:
a.extend([1,3])

In [19]:
a

[1, 2, 3, 4, 10, 20, 30, 40, 1, 3]

In [20]:
a = [1, 2, 3, 5]
a.insert(3, 4)
a

[1, 2, 3, 4, 5]

In [21]:
del a[-1]

In [22]:
a

[1, 2, 3, 4]

In [23]:
a = [1, 2, 3, 4, 5] 
b = a.pop()
a

[1, 2, 3, 4]

In [24]:
b

5

In [25]:
print a.pop(3)

4

In [26]:
a

[1, 2, 3]

In [27]:
print a.pop(0)
a

1

[2, 3]

In [46]:
a = [1, 2, 1, 1, 3, 4, 5]
print a.index(1)
print a.index(1, 3)

0
3

In [48]:
years = ['1998', '1999']
print 1998 in years

False

In [49]:
print years.count('1998')

1

In [51]:
birthday = ['1998', '07']
print 'ab'.join(birthday)

1998ab07

In [52]:
a = [9, 8, 1, 5, 2, 6]
print dir(a)

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__delslice__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getslice__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__setslice__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [53]:
a.sort()
a

[1, 2, 5, 6, 8, 9]

In [56]:
a = [8, 2, 6, 3, 2]
print sorted(a)
a

[2, 2, 3, 6, 8]

[8, 2, 6, 3, 2]

In [61]:
import copy
a = [1, 2, 3, 4]
b = copy.copy(a)
b

[1, 2, 3, 4]

In [62]:
a = [1, 2, 3, 4]
b = list(a)
b

[1, 2, 3, 4]

In [63]:
c = a[:]

c

[1, 2, 3, 4]

In [65]:
d = a[1:]
d

[2, 3, 4]

In [80]:
e = a[::len(a)-1]
e

[1, 4]

In [82]:
one_tuple = 'alex',
print one_tuple

('alex',)

In [83]:
more_tuple = 'a', 'b', 'c'
print more_tuple

('a', 'b', 'c')

In [84]:
more_tuple2 = 1, 2, 3
print more_tuple2

(1, 2, 3)

In [92]:
d, v, a = more_tuple
print type(d)

<type 'str'>

In [94]:
more_tuple3 = (23, 26)
b = more_tuple3[:]
b

(23, 26)

In [95]:
a = 5
b = 4
more_tuple4 = a, b
more_tuple4

(5, 4)

In [96]:
a, b = b, a
print a, b

4 5

In [99]:
a = [[1, 2],[3, 4]]
print dict(a)
a = [(1, 2), (3, 4)]
print dict(a)

{1: 2, 3: 4}
{1: 2, 3: 4}

In [101]:
dict1 = {'python' : 'best', 'java' : 'good', 'c++' : 'better'}
dict1['go'] = 'gogo'
dict1['java'] = 'sogood'
print dict1

{'python': 'best', 'go': 'gogo', 'java': 'sogood', 'c++': 'better'}

In [102]:
dict1 = {'python' : 'best', 'java' : 'good' , 'c++' : 'better'}
dict2 = {'ruby' : 'elegant', 'javascript' : 'too much', 'java' : 'soso'}
dict1.update(dict2)
print dict1, dict2

{'java': 'soso', 'python': 'best', 'javascript': 'too much', 'ruby': 'elegant', 'c++': 'better'} {'java': 'soso', 'javascript': 'too much', 'ruby': 'elegant'}

In [104]:
del dict1['java']

In [105]:
dict1

{'c++': 'better',
 'javascript': 'too much',
 'python': 'best',
 'ruby': 'elegant'}

In [106]:
print dict1

{'python': 'best', 'javascript': 'too much', 'ruby': 'elegant', 'c++': 'better'}

In [108]:
a = {1 : 2, 3 : 4}
a.clear()
print a

{}

In [117]:
a = {1 : 2, 3 : 4}
print 1 in a

True

In [118]:
print a[1]

2

In [123]:
print a.get(4, 5)

5

In [124]:
print a.get(4)

None

In [125]:
signals = {'green' : 'fly', 'yellow' : 'go faster', 'red' : 'stop'}
key = signals.keys()
value = signals.values()

print key, value

['green', 'red', 'yellow'] ['fly', 'stop', 'go faster']

In [126]:
signals.items()

[('green', 'fly'), ('red', 'stop'), ('yellow', 'go faster')]

In [127]:
for j, k in signals.items():
    print j,k

green fly
red stop
yellow go faster

In [128]:
empty_set = set()
print empty_set

set([])

In [129]:
even_nums = {2, 4, 6, 8}
print even_nums

set([8, 2, 4, 6])

In [130]:
print set('messissippi')

set(['i', 'e', 's', 'm', 'p'])

In [131]:
print set([1, 2, 5, 1, 3, 1])

set([1, 2, 3, 5])

In [132]:
print set({1 : 2, 3 : 4})

set([1, 3])

In [139]:
a = {1, 3}
b = {2, 3, 4}

print a.intersection(b)
print a & b

print a.union(b)
print a | b

print a.difference(b)
print a - b

print a.symmetric_difference(b)
print a ^ b

print a.issubset(b)
print a <=  b

set([3])
set([3])
set([1, 2, 3, 4])
set([1, 2, 3, 4])
set([1])
set([1])
set([1, 2, 4])
set([1, 2, 4])
False
False

In [140]:
a='11234'
list(a)

['1', '1', '2', '3', '4']