In [1]:
a=100
if a % 9 == 0:
    print 'hello'
elif a % 9 == 1:
    print 'hello2'
else:
    print 'hello3'

hello2

In [3]:
if []:
    print "he"

In [4]:
a = 0
if not a == 1:
    print 'he'

he

In [6]:
count = 1
while count < 5:
    print count
    count += 1

1
2
3
4

In [1]:
var = 10
while var > 0:
    var -= 1
    if var ==5:
        continue
    print "Current variable value : ", var

Current variable value :  9
Current variable value :  8
Current variable value :  7
Current variable value :  6
Current variable value :  4
Current variable value :  3
Current variable value :  2
Current variable value :  1
Current variable value :  0

In [3]:
nums = [1, 4, 3, 5]
#nums = [1, 3, 5]
position = 0
while position < len(nums):
    if nums[position] % 2 == 0:
        print 'even'
        break
    position += 1
else:
    print 'perffect'

even

In [4]:
nums=[1, 2, 3, 4, 5]
for vari in nums:
    print vari

1
2
3
4
5

In [5]:
str = 'hello'
for char in str:
    print char

h
e
l
l
o

In [12]:
capitals = {'korea' : 'seoul', 'japan' : 'tokyo', 'usa' : 'wasihngton D.C'}
for con in capitals:
    print con, capitals[con]
for key in capitals.keys():
    print key
for value in capitals.values():
    print value
for k in capitals.items():
    print k

japan tokyo
korea seoul
usa wasington D.C
japan
korea
usa
tokyo
seoul
wasington D.C
('japan', 'tokyo')
('korea', 'seoul')
('usa', 'wasington D.C')

In [20]:
nums=[1, 2, 3, 4, 5]
for i, v in enumerate(nums):
    if i > 7:
        break
    print 'value at index ', i, 'is', v
else:
    print 'done'

value at index  0 is 1
value at index  1 is 2
value at index  2 is 3
value at index  3 is 4
value at index  4 is 5
done

In [26]:
capitals = {'korea' : 'seoul', 'japan' : 'tokyo', 'usa' : 'washington D.C'}
countries = capitals.keys()
cities = capitals.values()

print zip(countries, cities)
print type(zip(countries, cities))

aa = [1, 2, 3]
bb = [4, 5, 6]
cc = [7, 8, 9]

for a, b, c in zip(aa, bb, cc):
    print a, b, c

[('japan', 'tokyo'), ('korea', 'seoul'), ('usa', 'washington D.C')]
<type 'list'>
(1, 4, 7)
(2, 5, 8)
(3, 6, 9)

In [27]:
a= range(3)
print type(a)

<type 'list'>

In [28]:
b = range(1, 10, 2)
b

[1, 3, 5, 7, 9]

In [30]:
c = range(10, -2, -1)
c

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1]

In [31]:
nums = [1, 2, 3, 4, 5, 6]
evennum = []
for i in nums:
    if i % 2 == 0:
        evennum.append(i)
print evennum

[2, 4, 6]

In [33]:
evennum2 = [i for i in nums if i % 2 == 0]
evennum2

[2, 4, 6]

In [34]:
nums2 = [i**2 for i in nums]
nums2

[1, 4, 9, 16, 25, 36]

In [38]:
nums3 = [i for i in nums if i < 4]
nums4 = [i**2 if i < 4 else i*2 for i in nums]

print nums3
print nums4

[1, 2, 3]
[1, 4, 9, 8, 10, 12]

In [44]:
rows = range(1, 4)
cols = range(1, 3)

cells = [(r, c) for r in rows for c in cols]
cells
for rr, cc in cells:
    print rr, cc

1 1
1 2
2 1
2 2
3 1
3 2

In [46]:
words = ['apple', 'banana', 'chicago', 'do']
words_dict = {w : len(w) for w in words}
words_dict

{'apple': 5, 'banana': 6, 'chicago': 7, 'do': 2}