In [1]:
import pandas as pd

In [6]:
train_num = pd.read_csv(r"D:\kaggle\bosh\train_numeric.csv\train_numeric.csv",nrows=2)

In [18]:
train_num.transpose().head()

              0   1
Id        4.000   6
L0_S0_F0  0.030 NaN
L0_S0_F2 -0.034 NaN
L0_S0_F4 -0.197 NaN
L0_S0_F6 -0.179 NaN

In [23]:
train_num.count().count()

970

In [9]:
train_date = pd.read_csv(r"D:\kaggle\bosh\train_date.csv\train_date.csv",nrows=2)

In [24]:
train_date.transpose().head()

              0   1
Id         4.00   6
L0_S0_D1  82.24 NaN
L0_S0_D3  82.24 NaN
L0_S0_D5  82.24 NaN
L0_S0_D7  82.24 NaN

In [26]:
train_date.count().count()

1157

In [11]:
train_cat = pd.read_csv(r"D:\kaggle\bosh\train_categorical.csv\train_categorical.csv",nrows=2)

In [27]:
train_cat.transpose().head()

            0   1
Id          4   6
L0_S1_F25 NaN NaN
L0_S1_F27 NaN NaN
L0_S1_F29 NaN NaN
L0_S1_F31 NaN NaN

In [28]:
train_cat.count().count()

2141

##Number of columns

In [14]:
970 + 1157 + 2141

4268

##Number of rows

In [15]:
sum(1 for line in open(r"D:\kaggle\bosh\train_numeric.csv\train_numeric.csv"))

1183748

In [16]:
sum(1 for line in open(r"D:\kaggle\bosh\train_date.csv\train_date.csv"))

1183748